mixin content(data)
    if data.placeholder
        #{data.tag}(class=data.type)= data.placeholder
    else
        #{data.tag}(class=data.type)
            if data.children
                each child in data.children
                    +content(child)
            if data.nodes
                each node in data.nodes
                    #{node}

doctype html
html
    head
        title= name
        link(rel="stylesheet" href=layout.file)
    body
        #{tag}(id=category)
            each component in children
                +content(component)                  